body {
    background-color: #E5E8FF !important;
    margin: 0;
    font-family: "Lato", sans-serif;
  }
.container{
    margin: 4rem 0;
    background-color: white;
    border-radius: 1rem;
    height: 45rem;
  }

  .highlight{
    background-color: #F1F3FF;
    border-radius: 1rem;
    height: 94%;
}
.alignment1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alignment2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.card{
    border-radius: 1rem !important;
}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: #333866;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    width: 10px;
    background: #FFBD50;
  }
::-webkit-scrollbar:hover{
    width: 12px;
}

.speed{
    font-size: 2.5rem;
}

.speedx{
  font-size: 1rem;
}

.unit{
    font-size:1.5rem;
    margin-left: 0.2rem
}
.unitx{
  font-size:1rem;
  margin-left: 0.2rem
}
a{
    text-decoration: none !important;
}

.location {
  color:#333866;
  font-weight: bold;
}

.country-name {
  color:#333866;
  font-weight: bold;
  font-size:18px;
}

.day-date {
  color:#adb1cc;
  font-weight: bold;
  font-size:13px;
}

.today {
  color:#333866;
  font-size:30px;
}

.temper {
  margin-top:1rem;
  margin-left:-7rem;
  font-size: 2.5rem;
  font-weight:900;
  color:#333866;

}

.cel {
  position: relative;
  top:0.6rem;
  margin-top:1rem;
  font-size: 1.5rem;
  color:#333866;
}
.cardx{
  border: solid #F1F3FF !important;
}
.time{
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}
.nav{
  font-size: 1.5rem;
  color: black;
  font-family: 'Domine', serif;
  margin: 3rem 0 2rem 3rem;

}
.nav:hover{
  cursor: pointer;
  color:orange;
}
.ico{
  position: relative;
  top: 0.3rem;
  color: #FFBD50;
  margin: 0 1rem 0 0;
}
.active{
  color: #A2ACFF;
}