body {
    background-color: #E5E8FF !important;
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    border-radius: 2rem;
    margin: 2rem 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .container{
    background-color: white;
    border-radius: 2rem;
    height: 40rem;
  }

  .highlight{
    background-color: #F1F3FF;
    border-radius: 1rem;
    height: 90%;
}
.alignment1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alignment2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}